# Dynamic JSON API endpoint for meeting room schedules
MEETING_ROOM_API_URL=https://api.example.com/v1.0/me/calendar/getSchedule
HEADER_TITLE="Room Availability"

# Microsoft OAuth & Session Credentials for /admin
NUXT_OAUTH_MICROSOFT_CLIENT_ID=""
NUXT_OAUTH_MICROSOFT_CLIENT_SECRET=""
NUXT_OAUTH_MICROSOFT_TENANT=""
NUXT_SESSION_PASSWORD="32-character"